# Dataset
dataset/
csi-bench-dataset/

# Logs
experiments/
/*/__pycache__
.ipynb_checkpoints/


__pycache__/
*.py[cod]
*$py.class

.idea/ 

# Result
result/
/results
result_analysis/.DS_Store
.DS_Store
/result_analysis/.ipynb_checkpoints

# kubectl
*.yaml